<!--users/templates/base.html-->
<div class="header">
    <h1>Driver Rewards</h1>
    
  </div> 
  
<style>
    
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
    

    .header {
        padding: 60px;
        text-align: center;
        background: #811abc;
        color: orange;
        font-size: 30px;
      } 

      
</style>


<div class="body">
    {% block content %}
</div> 





{% endblock %}

<style>
    
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
    

    .body {
        padding: 60px;
        text-align: left;
        background: darkgreen;
        font-size: 14px;
        
        font-size: 14px;
      } 

      
</style>

<div class="footer">
    <p>Driver Rewards</p>
</footer> 

<style>
    
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
    

    .footer {
       
        text-align: center;
        background: darkgreen;
        font-size: 25px;
      } 

      
</style>



